

/* Reset v2 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, 
aside, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, 
blockquote:after,
q:before, 
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

/* // End Reset v2 */


/* Global stuff */

:root {
	line-height: 1.2em;
	font-size:16px;
	color: #333;
	font-family:"Raleway", "Helvetica", "sans-serif", "Arial";
}

* {
	box-sizing: border-box;
}

*::after, *::before {
	content: "";
}

.container {
	max-width: 1200px;
	margin: 2em auto;
}

.row {
	display: flex;
	flex-direction: row;
}

.row-wrap {
	flex-wrap: wrap;
} 

.col {
	flex: 1;
}

section {
	padding-bottom: 2em;
}

.resume-title {
	font-size: 1.6em;
	padding: 1em;
	border-bottom: 1px solid #ccc;
}



/* Header */

.header {
	background-color: #222;
	color: #aaa;
	padding: 1.8em;
	box-shadow: 0 0 10px 2px rgba(0,0,0,.3);
}

.header__title {
	border-bottom: 2px solid #282828;
	padding: 1.5em;
	margin: .5em 0;
	text-transform: uppercase;
}

.header__title__wrap {
	display: inline-block;
	padding: 1em;
	transform: translateY(-35%);
}

.header__title__name {
	color: #3498db;
	font-size: 3em;
	padding-bottom: .1em;
}

.header__title__image {
	width: 160px;
}

.header__title__msg {
	font-size: 1.2em;
	padding: .5em 1em;
	text-transform: none;
}

.header__info {
	padding: 1.5em 1.5em 2em;
}


.header__info__skills-title {
	color: #3498db;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
}

.header__info__skills {
	padding-left: 1em;
	display: inline-block;
}

.header__info__skills > li {
	display: inline-block;
	padding-left: .5em;
}

.header__info__skills > li:not(:last-child)::after {
	font-weight: bold;
	content: ',';
}

.header__contacts {
	padding-top: 1.5em;
	border-top: 2px solid #282828;
}

.contact-name {
	text-align: right;
	color: #3498db;
	padding-right: .5em;
	font-weight: bold;
}

.contact-value {
	text-align: left;
}




/* Work section */

.work {
	padding: 2em;
}

.work__list {
	padding: 1em 0;
}

.work__job {
	padding: 1em 0;
}

.work__job__title {
	font-size: 1.4em;
}

.job-title {
	text-transform: uppercase;
	color: #3498db;
}

.job-employer,
.job-location {
	color: #888;
}

.work__job__date {
	color: #666;
}

.work__job__descr {
	line-height: 1.3em;
	padding: .5em 1em;
}



/* Project section */

.project {
	padding: 2em 1em;
}

.project__li {
	padding: 1em .5em;
}

.project__title {
	font-size: 1.4em;
	color: #3498db;
	padding: .5em 0;
	text-transform: uppercase;
}

.project__date {
	color: #888;
	padding: .1em;
}

.project__descr {
	padding: 1em;
}

.project__imgs {
	padding: .2em;
}

.project__imgs img {
	height: 200px;
}


/* Education section */

.edu > .majors:not(:last-child)::after {
	content: ', ';
}

.online-title {
	font-size: 1.3em;
	font-weight: bold;
	padding: .5em 1em;
}

.online {
	font-size: .9em;
}

.online__course__name {
	font-size: 1.2em;
	text-transform: none;
}


/* The map */

.my-map {
	height: 500px;
}